body {
  font-family: Arial, Helvetica, sans-serif;

  --border-color: #ddd;
  --gray-100: #fafafa;
  --gray-500: #666;
  --gray-700: #333;
  --primary-100: #d2e7ff;
  --primary-200: #b1d3fa;
  --primary-400: #2e8fff;
  --primary-500: #0078ff;
  --primary-600: #0066db;
  --error-500: #f00;
  --error-100: #fee;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*
  Custom style
*/
#root {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.header {
  padding: 1em 0;
}

.container {
  margin-top: 2em;
}

.card {
  padding: 1em 2em;
  background: rgba(0, 0, 0, 0.01);
  border-radius: 3em;
}

.new-poll-form {
  width: 100%;
  margin-top: 2em;
}

.new-poll-form input {
  width: 100%;
}

.poll h1 {
  margin: 2em 0;
}

.poll button {
  display: block;
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.03);
  border: none;
  padding: .7em 0;
  border-radius: 2em;
  overflow: hidden;
  transition: all ease-in-out .13s;
  cursor: pointer;
  margin-bottom: 0.5em;
}

.poll button:hover {
  background: rgba(0, 0, 0, 0.07)
}

.poll .vote-bar {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: lightskyblue;
  height: 100%;
  border-radius: 2em;
}

.poll button.selected {
  font-weight: bold;
}

.poll .selected .vote-bar {
  background: lightgreen;
}

.poll .percentage {
  font-size: 0.6rem;
}
